<%- include('../partials/header') %>

<h1>edit</h1>

%- include('../partials/header') %>
<section id="show-page">
    <div>Make/Model: </div>
    <div><%= car.make %></div>
    <div><%= car.model %></div>
    <div>Release Year: </div>
    <div><%= car.year %></div>
    <div>Rating: </div>
    <div><%= car.availability %></div>

<% if (user) { %>
    <form id="add-review-form" method="POST"
      action="/reviews/<%= car._id %>">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
  <% } %>

<%- include('../partials/footer') %> 