<%- include('../partials/header') %>

<h1>Car List</h1>
  <table>
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
 
      <% cars.forEach(function(f) { %>
        <tr>
          <td><%= f.make %></td>
          <td><%= f.model %></td>
          <td><%= f.year %></td>
          <td><%= f.availability %></td>
          <td><a href="/cars/<%= f._id %>">DETAILS</a></td>

           
          </tr>
          
     
        <td><%= f.availability ? 'Yes' : 'Nope' %></td>
          </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>


