<%- include('../partials/header') %>


<img src="https://images.unsplash.com/photo-1546545817-27f0fb006153?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="cars">
<link rel="stylesheet" href="/stylesheets/index.css">

<h1>Recently Searched Toyota's</h1>
  <table>
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
 
      <% cars.forEach(function(f) { %>
        <tr>
          <td><%= f.make %></td>
          <td><%= f.model %></td>
          <td><%= f.year %></td>
          <td><%= f.availability %></td>
          <td><%= f.availability ? 'Yes' : 'Nope' %></td>
          <td><a href="/cars/<%= f._id %>">DETAILS</a></td>
          </tr>
          </tr>
      <% }); %>
    </tbody>
  </table>
  

<%- include('../partials/footer') %>


