<%- include('../partials/header') %>

<link rel="stylesheet" href="/stylesheets/show.css">


<img src="https://images.pexels.com/photos/105296/pexels-photo-105296.jpeg" class="cars">

<section id="show-page">
    <div>Make/Model: </div>
    <div><%= car.make %></div>
    <div><%= car.model %></div>
    <div>Release Year: </div>
    <div><%= car.year %></div>
    <div>Availability: </div>
    <div><%= car.availability %></div>
  </section>
<% if (user) { %>
    <form id="add-review-form" method="POST"
      action="/cars/<%= car._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
  <% } %>



<% if (car.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let sum = 0; %>
      <% car.reviews.forEach(function(r) { %>
        <% sum += r.rating %>
        <tr>
          <td class="review-user"><img src="<%= r.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if ( user?._id.equals(r.user) ) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
           
              </form>
            <% } %>
          </td>

          <td>
            <% if ( user?._id.equals(r.user) ) { %>
              <a href="/reviews/<%= r._id %>/edit">
                <button>EDIT</button>
           
              </a>
            <% } %>
          </td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><%= (sum / car.reviews.length).toFixed(2) %></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
  
<%- include('../partials/footer') %> 
